In [37]:
import mysql.connector
import pandas as pd 

mydb = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'root',
    database = 'retrowheels'
)

In [43]:
mycursor = mydb.cursor()

query = "select count(distinct customerName) as 'Customers', count(distinct city) as 'Cities', count(distinct country) as 'Countries' from customers"

mycursor.execute(query)

result = mycursor.fetchall()

df = pd.DataFrame(result, columns = mycursor.column_names)
print(df)

   Customers  Cities  Countries
0        122      95         27

In [44]:
mycursor = mydb.cursor()

query = "select count(distinct employees.employeeNumber) as 'Employees', count(distinct employees.officeCode) as 'Office', count(distinct offices.country) as 'Country', count(distinct productCode) as 'Products', sum(distinct quantityInStock) as 'StockProducts', count(distinct productVendor) as 'Vendors' from employees, offices, products where employees.officeCode=offices.officeCode"

mycursor.execute(query)

result = mycursor.fetchall()

df = pd.DataFrame(result, columns = mycursor.column_names)
print(df)

   Employees  Office  Country  Products StockProducts  Vendors
0         23       7        5       110        555131       13

In [42]:
mycursor = mydb.cursor()

query = "select distinct productLine, min(buyPrice) as 'minPrice', max(buyPrice) as 'maxPrice' from products group by productLine"

mycursor.execute(query)

result = mycursor.fetchall()

df = pd.DataFrame(result, columns = mycursor.column_names)
print(df)

        productLine minPrice maxPrice
0      Classic Cars    15.91   103.42
1       Motorcycles    24.14    91.02
2            Planes    29.34    77.27
3             Ships    33.30    82.34
4            Trains    26.72    67.56
5  Trucks and Buses    24.92    84.76
6      Vintage Cars    20.61    86.70